.btn {
  width: 92px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  font-family: var(--ff-main), sans-serif;
  font-size: 16px;
}

.btn-blue {
  background-color: #0fa6cc;
}

.btn-pink {
  background-color: #fa759e;
}
