.btn {
  width: 92px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  font-family: var(--ff-main), sans-serif;
  font-size: 20px;
}

.btn-blue {
  background-color: var(--color-blue);
}

.btn-pink {
  background-color: var(--color-pink);
}
