/* LOGIN PAGE */
.body {
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green);
}

.videopart video {
  width: 205%;
  padding: 0 auto;
  box-shadow: 0 9px 14px -3px #3f3f3fbb;
}

.form {
  position: absolute;
  right: 10px;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.form h4 {
  font-size: 24px;
  margin: 15px 0;
  /* color: #fff; */
  font-family: var(--ff-main), sans-serif;
  color: white;
}

.form input {
  height: 35px;
  padding-left: 25px;
  border: 1px solid #0fa6cc;
  border-radius: 50px;
  margin-bottom: 15px;
}

.form input:focus {
  outline: none;
}

.form input:invalid {
  border: 1px solid red;
}

@media only screen and (max-width: 280px) {
  .form {
    position: absolute;
    top: 100px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .form h4 {
    color: black;
  }

  .videopart video {
    width: 100vw;
    padding: 0 auto;
  }
}

@media only screen and (max-width: 380px) {
  .form {
    position: absolute;
    top: 100px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .videopart video {
    width: 100vw;
    padding: 0 auto;
  }

  .form h4 {
    color: black;
  }
}

@media only screen and (max-width: 740px) {
  .form {
    position: absolute;
    top: 0;
    bottom: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .videopart video {
    width: 100vw;
    padding: 0 auto;
  }

  .form h4 {
    color: black;
  }
}
