html {
  --ff-main: "Carter One";
  --color-pink: #fb9db9;
  --color-blue: #54d3f2;
  --color-green: #d6ffda;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: gray;
  font-size: 16px;
}
