.body {
  /* font-family: var(--ff-main); */
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.before {
  position: absolute;
  top: -170px;
  left: 30px;
  width: 170px;
  z-index: -1;
  filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px rgb(34 34 34 / 45.2%));
}

.after {
  position: absolute;
  right: 0;
  bottom: -25px;
  z-index: 5;
  width: 190px;
  filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px rgb(34 34 34 / 36.3%));
}

.block {
  margin-top: 250px;
  position: relative;
  border-radius: 50px;
  padding: 80px;
  /* background: hsl(202deg 71% 27% / 100%); */
  color: white;
  background:
    linear-gradient(
      90deg,
      hsl(202deg 71% 27% / 100%) 0%,
      hsl(176deg 45% 66% / 100%) 100%
    );
}

.img-part img {
  box-shadow: 12px 11px 12px 1px #000;
  box-shadow: 5px 5px 10px 1px rgb(0 0 0 / 28.5%);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  z-index: 5;
}

.favorites {
  margin-top: 20px;
  display: flex;
}

.favorites button {
  background-color: transparent;
  border: none;
}

.favorites button img {
  width: 35px;
  height: 35px;
}

.about {
  display: flex;
  flex-direction: column;
}

.about span {
  font-size: 18px;
}

.name {
  border-radius: 20px;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.bio {
  border-radius: 20px;
  padding-left: 20px;
  margin-bottom: 60px;
}

.contact {
  border-radius: 20px;
  padding-left: 20px;
}

@media only screen and (max-width: 280px) {
  .body {
    height: auto;
  }

  .block {
    padding: 15px;
    width: 100vh;
    height: 100vh;
  }

  .img-part img {
    width: 150px;
    height: 150px;
  }

  .after {
    display: none;
  }
}

@media only screen and (max-width: 380px) {
  .body {
    height: auto;
  }

  .block {
    padding: 15px;
    width: 100vh;
    height: 100vh;
  }

  .img-part img {
    width: 150px;
    height: 150px;
  }

  .after {
    display: none;
  }
}

@media only screen and (max-width: 740px) {
  .body {
    height: auto;
  }

  .block {
    padding: 15px;
    width: 100vh;
    height: 100vh;
  }

  .img-part img {
    width: 150px;
    height: 150px;
  }

  .after {
    display: none;
  }
}
