/* SIGNUP USER */

/* .signup-btn {
  width: 92px;
  height: 35px;
  border: none;
  border-radius: 50px;
  margin-top: 15px;
  background-color: #fa759e;
  color: white;
  font-family: var(--ff-main), sans-serif;
  font-size: 16px;
} */
.signupbanner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.banners {
  display: flex;
  justify-content: center;
  align-items: center;
}

.org-banner {
  margin-right: 25px;
  position: relative;
}

.org-btn {
  position: absolute;
  bottom: 25px;
  left: 25px;
  border: none;
  border-radius: 50px;
  width: 85px;
  height: 30px;
  font-family: var(--ff-main);
  color: white;
  background-color: #ff666e;
}

.user-banner {
  margin-left: 25px;
  position: relative;
}

.user-btn {
  position: absolute;
  bottom: 25px;
  left: 25px;
  border: none;
  border-radius: 50px;
  width: 85px;
  height: 30px;
  font-family: var(--ff-main);
  color: white;
  background-color: #5663c0;
}
